---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Book Free Site Visit" description="At AHL properties, we offer free site visits to potential buyers so that they can get to view the property that we have for sale in different parts of Kenya">
	<section class="bg-blue-800 h-[36em] w-full bg-cover bg-opacity-80" style="background-image: url('/images/book.jpg');">
		<h1 class="text-white text-6xl pt-72 text-center font-extrabold uppercase">
			Book free site visit
		</h1>
	</section>
</Layout>