---
import Layout from "@layouts/Layout.astro"
import Cta from "@components/Cta.svelte"

//Fetch FAQs
const faq = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=4`)
const faq_data = await faq.json()
---

<Layout title="Help" description="">
	<section class="bg-blue-800 h-[36em] w-full bg-cover bg-opacity-80" style="background-image: url('/images/help.jpg');">
		<h1 class="text-white text-6xl pt-72 text-center font-extrabold uppercase">
			Help Center
		</h1>
	</section>
	<section class="bg-white rounded-md container mx-auto -mt-24 mb-24">
		<div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
			<h2 class="text-2xl font-extrabold sm:text-4xl text-blue-800 mb-2 uppercase">Frequently Asked Questions</h2>
			<div class="space-y-4">
				{
					faq_data.map((item) => (
						<details class="w-full border rounded-lg">
							<summary class="px-4 py-6 focus:outline-none focus-visible:ring-violet-400 text-xl">
								{item.title.rendered}
							</summary>
							<div class="px-4 py-6 pt-0 ml-4 -mt-4 text-lg" set:html={item.content.rendered}></div>
						</details>
					))
				}
			</div>
		</div>
	</section>
	<Cta client:load />
</Layout>
