---
import Layout from "@layouts/Layout.astro"
import DetailsForm from "@components/Df.svelte"
import Cta from "@components/Cta.svelte"
---

<Layout title="Client Details - AHL Properties" description="">
	<section class="container mx-auto mt-24">
		<h2 class="capitalize font-serif text-center uppercase text-4xl text-blue-800">
			complete the purchasing process
		</h2>
		<div class="grid place-content-center gap-2 p-4">
			<p class="text-xl text-gray-700 lg:max-w-4xl">
				Let us get to know who you are so that we can do business together. All the information provided to us is not shared to any third party individuals. We respect and value your privacy.
			</p>
			<DetailsForm client:load />
		</div>
	</section>
	<Cta client:load />
</Layout>