---
import Layout from "@layouts/Layout.astro"
import SalesAgreementForm from "@components/Saf.svelte"
import Cta from "@components/Cta.svelte"
---

<Layout title="Client Details" description="">
	<section class="container mx-auto mt-24">
		<h2 class="capitalize font-serif text-center uppercase text-4xl text-blue-800">
			complete the purchasing process
		</h2>
		<div class="grid place-content-center gap-2 p-4">
			<p class="text-xl text-gray-700 lg:max-w-4xl">
				This is an online offer letter. Upon completing it, you will get a copy of it to your email address
			</p>
			<SalesAgreementForm client:load />
		</div>
	</section>
	<Cta client:load />
</Layout>